.budget-section {
  width: 70%;
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center;    /* Center items horizontally */
  margin: 20px;
}

.budget-section h2 {
  font-size: 2em;
  margin: 10px 0px;
}

.budget-item {
  display: flex;
  flex-direction: column; /* Ensure budget items are in column layout */
  align-items: center;    /* Center items horizontally */
  color: red;
  padding: 5px 0;
  font: 5em sans-serif;
  font-weight: 700;
}

.budget-item p {
  margin: 10px 0; /* Add some margin to separate elements */
  
}

.budget-item input {
  margin: 10px 0; /* Add some margin to separate elements */
  padding: 5px;
  width: 150px; /* Set input width */
}
.alert {
  color: red;
  font-weight: bold;
  margin-top: 10px; /* Add margin to separate alert from other elements */
  text-align: center; /* Center the alert text */
  font-size: 0.5em;
}
