@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

body {
  height: 100%;
  background-image: url('../public/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rufina';
}

@font-face {
  font-family: 'Rufina';
  src: url('./fonts/Rufina-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  height: 100%;
}